:root {
  --text-color: #010d1a;
  --dark-blue: #0a0a23;
  --background-color: #5aac5257;
  --light-lavendar: #56c04c;
  --dark-lavendar: #5aac52;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-lavendar);
  border: 2px solid var(--dark-lavendar);
}

button,
input,
select {
  min-height: 24px;
  color: var(--text-color);
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  border: 1px solid var(--dark-lavendar);
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

fieldset {
  border-color: var(--background-color);
}

.output {
  border: 2px solid var(--text-color);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}
